# Login to a Docker container
function dlogin() {
 if [[ ! "$1" ]] ; then
     echo "Please provide container name or ID"
     return 0
 fi

 docker exec -it $1 bash
 return 0
}

# Delete a given line number from the known_hosts file
function knownrm() {
 re='^[0-9]+$'
 if ! [[ $1 =~ $re ]] ; then
   echo "Please provide a line number" >&2;
 else
   sed -i '' "$1d" ~/.ssh/known_hosts
 fi
}

# https://pilkauskas.lt/tools/2016/09/21/git-config.html
function set_git_user() {
  if [[ $(git config --get remote.origin.url) == *"vinted"* ]]
  then
    echo "Setting user email to Vinted for the project"
    git config --local user.email ernestas.narmontas@vinted.com
  else
    echo "Setting user email to personal for the project"
    git config --local user.email ernestas@narmontas.eu
  fi
}
